---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Index from './posts/index1.md';
import Footer from '../components/Footer.astro';

---


<Layout>
	<Welcome />
	  <div class="content-field">
				<Index>
	    </div>
		<Footer>
</Layout>
