---
---
<nav id="navbar" class="navbar">
  <div class="navbar-brand">ゲームジャム高梁</div>
  <ul class="navbar-list">
    <li><a href="/">ホーム</a></li>
    <li><a href="/about">過去のゲームジャム</a></li>
  </ul>
</nav>
