---
import { Image } from 'astro:assets';
import topIllust from '../assets/index/top_illust.jpg';
---
  <div class="top-image">
    <Image src={topIllust} alt="トップ画像">
  </div>
  <header>
    <nav class="menu">
      <button class="menu-icon" aria-label="メニューを開く">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="menu-list">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">イベント情報</a></li>
        <li><a href="#">アクセス</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>

  <a href="https://okauni.connpass.com/event/367034/" class="join-circle" aria-label="参加する！">参加する！</a>
 <script>
   import "../assets/main.js";
 </script>
